<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-
springsecurity5">
<head>
 <base href="/">
<link rel="stylesheet" type="text/css" href="../styles/main.css">
<title>Pack a Bag</title>
</head>
<body>
   <div class="navbar">
    <a href="index"><img src="../images/packabag.png" alt="Logo"
			class="logoHome"></a>
    <div class="nav-right">
        
        <div class="dropdown">
            <button class="dropbtn">Login</button>
            <div class="dropdown-content">
                <a href="/admin/manager" th:href="@{/admin/manager}"> Client Login</a> 
                <a href="/register">Register</a>
            </div>
        </div>
    </div>
</div>

    <h1>Hello World</h1>
</body>
</html>
