body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/images/login.png');
    opacity: 0.9;
}

.container {
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-image: linear-gradient(to right, #2596be, #2671eb, #4a4ae8, #7c2de8);
    color: #fff;
    border: none;
    padding: 10px 80px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-image: linear-gradient(to right, #0079b3, #0054d6, #2b2bd4, #5509d4);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

.logout-message,
.success-message {
    color: blue;
    font-size: 14px;
    margin-bottom: 5px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-main);
    padding: 1rem 2rem;
    background-color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
}


.logo {
    height: 80px;
    margin-right: 20px;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: 30px;
    height: 30px;
}


.dropbtn::before,
.dropbtn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #466cb9;
    top: 50%;
    left: 0;
}


.dropbtn::after {
    transform: rotate(90deg);
}

.form-group {
    position: relative;
}

.password-input-container {
    position: relative;
}

.password-input-container input[type="password"] {
    width: calc(100% - 30px);
    padding-right: 30px;
    background-image: url('show-password-icon.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 20px;
}

.password-input-container input:focus {
    outline: none;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    height: 15px;
    width: 15px;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .navbar {
        padding: 1rem;
    }

    .logo {
        height: 60px;
        margin-right: 10px;
    }

    .navbar ul {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    .menu-item {
        display: none;
    }

    .dropdown-content {
        min-width: auto;
    }

    .navbar a {
        padding: 10px;
    }

    .side-menu {
        left: -250px;
        width: 250px;
        padding-top: 0;
    }

    .side-menu.active {
        left: 0;
    }

    .side-menu .menu-item {
        padding: 10px;
    }
}

#captcha-container {
    margin-top: 15px;
    user-select: none;
}

#captcha-canvas {
    margin-top: 10px;
    border-radius: 5px;
}


.password-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 14px;
}


.show-password-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 15px;
}

#show-password {
    margin-right: 5px;
}