<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link rel="stylesheet" type="text/css" href="/css/userEventRegistration.css">
    <link rel="icon" type="image/png" href="/images/icon.png" sizes="32x32">
</head>
<body>
    <div class="container">
        <div class="text-container">
            <h1>Registration Successful!</h1>
            <h2>Thank you for registering for the event.</h2>
            <p>Please check your email for confirmation and additional details.</p>
            <a href="/" class="back-button">Go Back To Home Page</a>
        </div>
    </div>
</body>
</html>