<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation Bar</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="scripts/links.js"></script>
   <link rel="icon" type="image/png" href="/images/icon.png" sizes="32x32">
  
 
</head>

<body>

 <div class="navbar">
  <img src="/images/packabag.png" alt="Logo" class="logo">
  <div class="dropdown">
    <button class="dropbtn">+</button>
    <div class="dropdown-content">
      <a href="#">Contact</a>
      <a href="#">About Us</a>
     <div class="volunteer-dropdown">
    <button class="dropbtns">Volunteer</button>
    <div class="dropdown-content">
        <a href="/login">Client Login</a>
    </div>
</div>

      <a href="#">Photo Gallery</a>
      <a href="#">Donation</a>
      <a href="#">Event</a>
      <a href="/home" sec:authorize="isAuthenticated">Dashboard</a>
      <div class="logout" sec:authorize="isAuthenticated">
                <a th:href="@{/logout}" style="color: black;">Logout</a>
            </div>
    </div>
  </div>
</div>

<div class="below-navbar-images">
  <div class="image-container">
    <div class="image-wrapper">
      <img src="images/bg.PNG" alt="Background Image">
    </div>
    <div class="overlay">
      <h2>PACK-A-BAG</h2>
      <h3>For A Friend Foundation Charity</h3>
      <a href="https://www.canadahelps.org/en/dn/75219" target="_blank"><button>Donate Now</button></a>
      <a href="/volunteer-register"><button>Become a Volunteer</button></a>
    </div>
  </div>
</div>

  <div class="side-by-side-images">
    <img src="images/vis.PNG" alt="First Image">
    <img src="images/mis.PNG" alt="Second Image">
  </div>

  <div class="image-with-text">
    <hr>
    <div class="text">
    <hr>
     <fieldset>
     <legend> <h2>Our History</h2></legend>
      <p>Our first food drive took place in 2005, where we went to the local grocery store, purchased food, and arranged
        for the Milton Fire Department to come by the house to pick up the donated food.</p>
      <p>In 2014, Pack a Bag for a Friend was created where the idea of donated food became a back pack of donated
        items.</p>
      <p>In the first year (2014) 540 back packs were donated to those in Milton. The next year in 2015, 825 back packs
        were donated, followed with 1,250 in 2016, and 1,470 in 2017. In 2018, we expanded our effort and with the
        support of many in the community we donated approximately 1,950 backpacks to those living in Milton, Acton, and
        Georgetown.</p>
         </fieldset>
         
        <fieldset>
       <legend> <h2>How Did We Evolve?</h2></legend>
        <p>Before creating the Foundation, we were involved in hosting food drives 
        in December for over 10 years with the children we were involved with through our daycare.</p>
        
        <p>A large number of the children we met through our previous daycare are still involved creating labels, sorting items,
         packing items, fund raising, and carrying out the back packs out to the cars.</p>
         
       <p>Today, we have a very large group of individuals and organizations who donate to us, help us, and support us.</p>
    </fieldset>
    </div>
  
  </div>
  <hr>

  <div class="services-section">
    <h2>What We Offer</h2>
    <div class="services">
      <div class="service">
        <img src="images/heart1.png" alt="Service 1">
        <h3>Essential Items</h3>
        <p>We provide backpacks filled with essential items such as clothing, hygiene products, and educational
          materials.</p>
      </div>
      <div class="service">
        <img src="images/heart1.png" alt="Service 2">
        <h3>Community Support</h3>
        <p>Our organization is supported by volunteers and generous donors who help us make a positive impact in our
          community.</p>
      </div>
      <div class="service">
        <img src="images/heart1.png" alt="Service 3">
        <h3>Empowering Lives</h3>
        <p>By providing these resources, we aim to empower individuals and families to overcome challenges and achieve
          their goals.</p>
      </div>
    </div>

    <div class="donate-button">
   <a href="#" class="round-button"><button>Donate Info</button></a>
</div>
  </div>

  <footer class="footer">
    <p>Capstone Net Neurons &copy All rights reserved 2024</p>
  </footer>

</body>

</html>