<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome to PACK-A-BAG</title>
	<link rel="stylesheet" type="text/css" href="css/volunteer.css">
	<link rel="icon" type="image/png" href="/images/icon.png" sizes="32x32">

</head>

<body>

	<div class="container">
		<div class="text-container">
			<h1>Welcome to</h1>
			<h2>PACK-A-BAG</h2>
			<p>Your support means the world to us. We can't wait to welcome
				you!</p>
			<a href="/" class="back-button">Go Back To Home Page</a>

		</div>
		<div class="register-info">
			<h3>Volunteer Form</h3>
			<form th:action="@{/volunteer-register}" method="post" th:object="${volunteer}">

				<div class="input-group">
					<input type="text" id="firstname" name="firstname" placeholder="First Name" class="input-field"
						th:field="*{firstName}" required> <input type="text" id="lastname" name="lastname"
						placeholder="Last Name" class="input-field" th:field="*{lastName}" required>
					<div class="age-container">
						<label for="age">Age:</label> <input type="number" id="age" name="age" placeholder="Age"
							class="input-field" th:field="*{age}" min="5" required>
					</div>
				</div>


				<div class="input-group">
					<input type="tel" id="phone" name="phone" class="input-field" placeholder="Phone Number"
						minlength="10" maxlength="15" th:field="*{phoneNumber}" required>
				</div>

				<div class="input-group">
					<input type="email" id="email" name="email" placeholder="Email" class="input-field"
						th:field="*{email}" required>
				</div>

				<div class="input-group">
					<input type="text" id="address" name="address" placeholder="Address" class="input-field"
						th:field="*{address}" required>
				</div>
				<div class="input-group">
					<input type="text" id="city" name="city" placeholder="City" class="input-field" th:field="*{city}"
						required> <input type="text" id="province" name="province" placeholder="Province"
						class="input-field" th:field="*{province}" required> <input type="text" id="postal_code"
						name="postal_code" placeholder="Postal Code" class="input-field" th:field="*{postalCode}"
						pattern="[A-Za-z][0-9][A-Za-z] [0-9][A-Za-z][0-9]" required>
				</div>
				<br> <input type="submit" value="Register" class="submit-button">
			</form>
		</div>

		<script>
			var countryCodeSelect = document.getElementById("countryCode");
			var phoneNumberInput = document.getElementById("phone");

			countryCodeSelect.addEventListener("keydown", function (event) {
				event.preventDefault();
			});

			countryCodeSelect.addEventListener("change", function () {
				phoneNumberInput.value = this.value + " ";
			});

			phoneNumberInput.addEventListener("input", function () {
				if (!phoneNumberInput.value.startsWith(countryCodeSelect.value
					+ " ")) {
					phoneNumberInput.value = countryCodeSelect.value
						+ " "
						+ phoneNumberInput.value
							.substring(countryCodeSelect.value.length);
				}
			});
		</script>




	</div>
</body>

</html>