<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Volunteer Success</title>
	<link rel="stylesheet" type="text/css" href="css/volunteer.css">
	<link rel="icon" type="image/png" href="/images/icon.png" sizes="32x32">
</head>

<body>

	<div class="container">
		<div class="text-container">
			<h1>Thank you for Volunteering!</h1>
			<p>Your support means the world to us. We can't wait to welcome
				you!</p> <br>
			<a href="/" class="back-button">Go Back To Home Page</a>
		</div>
	</div>
</body>

</html>